In [1]:
import pandas as pd 
import glob

In [4]:
fold = glob.glob('/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/*/*shp')
fold2 = glob.glob('/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/*shp')
pc_files = fold + fold2

In [6]:
pc_files[0]

'/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/dh.shp'

In [11]:
import geopandas as gpd
import glob
import os


# Find all shapefiles
shapefiles =pc_files

# List to hold data from all shapefiles
data = []

for shapefile in shapefiles:
    print(shapefile)
    # Load the shapefile using geopandas
    gdf = gpd.read_file(shapefile)
    # print(gdf.columns.tolist() )
    
    # Calculate the area of the geometry column and create a new dataframe
    gdf['postcode_area'] = gdf.geometry.area
    df = gdf[['POSTCODE', 'postcode_area']]
    
    # Append the data to the list
    data.append(df)

# Concatenate all the dataframes
result = pd.concat(data, ignore_index=True)

# Save the result to a new CSV file
output_file = 'postcode_areas.csv'
result.to_csv(output_file, index=False)

print(f"Saved postcode areas to {output_file}")

/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/dh.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/sa.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/sw.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/pl.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/ex.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/rg.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/st.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/po.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/en.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/dy.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/gu.shp
/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291/two_letter_pc_code/dn.shp

In [10]:
result

      POSTCODE  postcode_area
0      DH1 1AB    2988.803413
1      DH1 1AD   45205.554496
2      DH1 1AE    3824.748713
3      DH1 1AF   18493.663837
4      DH1 1AG    2397.491092
...        ...            ...
9086  VDH00462     100.000000
9087  VDH00463       0.129600
9088  VDH00464       0.129600
9089  VDH00465     100.000000
9090  VDH00466      65.610000

[9091 rows x 2 columns]