In [1]:
import pandas as pd 
import sys 
sys.path.append('/Users/gracecolverd/New_dataset')
import os 
from src.fuel_proc import load_fuel_data , load_onsud_data, get_pcs_to_process, run_fuel_calc
from src.multi_thread import merge_temp_logs_to_main

ImportError: cannot import name 'load_onsud_data' from 'src.fuel_proc' (/Users/gracecolverd/New_dataset/src/fuel_proc.py)

In [2]:
proc_dir='/Users/gracecolverd/New_dataset/old'
gas_path='/Volumes/T9/Data_downloads/UKGOV_Gas_elec/Postcode_level_gas_2022.csv'
elec_path='/Volumes/T9/Data_downloads/UKGOV_Gas_elec/Postcode_level_all_meters_electricity_2022.csv'
path_to_onsud_file='/Volumes/T9/Data_downloads/ONS_UPRN_database/ONSUD_DEC_2022/Data/ONSUD_DEC_2022_EE.csv'
path_to_pcshp='/Volumes/T9/Data_downloads/codepoint_polygons_edina/Download_all_postcodes_2378998/codepoint-poly_5267291'
INPUT_GPK='/Volumes/T9/Data_downloads/Versik_building_data/2024_03_22_updated_data/UKBuildings_Edition_15_new_format_upn.gpkg'
MAX_WORKERS=6
BATCH_SIZE=50

In [5]:
# log = os.path.join(proc_dir, 'log_file.csv')
path_to_onsud_file=
gas_df, elec_df = load_fuel_data(gas_path, elec_path )

onsud_data = load_onsud_data(path_to_onsud_file, path_to_pcshp)

# pc_list = get_pcs_to_process(onsud_data, log)'/Volumes/T9/Data_downloads/ONS_UPRN_database/ONSUD_DEC_2022/Data/ONSUD_DEC_2022_NE.csv'

Finding data for ONSUD file  NE

/Users/gracecolverd/New_dataset/src/fuel_proc.py:18: DtypeWarning: Columns (25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  ee = pd.read_csv(path_to_onsud_file)

Len of missing rows  0

In [ ]:
# issues with building file 
# issues with building metrics 
# issues with postcode rollups
# excluding some buildings

In [4]:
INPUT_GPK='/Volumes/T9/Data_downloads/Versik_building_data/2024_03_22_updated_data/UKBuildings_Edition_15_new_format_upn.gpkg'

from src.fuel_proc import process_postcode_fuel 

pc= 'LU1 3ET' 
pc='EN7 6LT'
pc='PE32 2LG'
pc= 'TS24 8NG'
pc_result = process_postcode_fuel(pc, onsud_data, gas_df, elec_df, INPUT_GPK)

 do not form a closed linestring

TS24 8NG

ValueError: GEOSGeom_createLinearRing_r returned a NULL pointer

In [10]:
pc_result
# ['res_heated_vol_FGA_total']

{'postcode': 'PE32 2LG',
 'num_invalid_builds': 0,
 'all_types_total_buildings': 9,
 'all_types_build_vol_FGA_total': 20160.759286060333,
 'all_types_base_floor_total': 0,
 'all_types_build_vol_inc_basement_FGA_total': 20160.759286060333,
 'all_types_heated_vol_EA_FGA_total': 9721.365803602273,
 'all_types_heated_vol_FGA_total': 9721.365803602273,
 'all_types_heated_vol_inc_basement_EA_FGA_total': 9721.365803602273,
 'all_types_heated_vol_inc_basement_FGA_total': 9721.365803602273,
 'all_types_listed_bool_total': 1,
 'res_total_buildings': 5,
 'res_build_vol_FGA_total': 8956.37984592437,
 'res_base_floor_total': 0,
 'res_build_vol_inc_basement_FGA_total': 8956.37984592437,
 'res_heated_vol_EA_FGA_total': 4727.4200824737545,
 'res_heated_vol_FGA_total': 4727.4200824737545,
 'res_heated_vol_inc_basement_EA_FGA_total': 4727.4200824737545,
 'res_heated_vol_inc_basement_FGA_total': 4727.4200824737545,
 'res_listed_bool_total': 0,
 'mixed_total_buildings': nan,
 'mixed_build_vol_FGA_total': nan,
 'mixed_base_floor_total': nan,
 'mixed_build_vol_inc_basement_FGA_total': nan,
 'mixed_heated_vol_EA_FGA_total': nan,
 'mixed_heated_vol_FGA_total': nan,
 'mixed_heated_vol_inc_basement_EA_FGA_total': nan,
 'mixed_heated_vol_inc_basement_FGA_total': nan,
 'mixed_listed_bool_total': nan,
 'comm_total_buildings': nan,
 'comm_build_vol_FGA_total': nan,
 'comm_base_floor_total': nan,
 'comm_build_vol_inc_basement_FGA_total': nan,
 'comm_heated_vol_EA_FGA_total': nan,
 'comm_heated_vol_FGA_total': nan,
 'comm_heated_vol_inc_basement_EA_FGA_total': nan,
 'comm_heated_vol_inc_basement_FGA_total': nan,
 'comm_listed_bool_total': nan,
 'total_gas': nan,
 'avg_gas': nan,
 'median_gas': nan,
 'num_meters': 9,
 'total_elec': 69398.5,
 'avg_elec': 7710.944444444444,
 'median_elec': 5781.5}

In [56]:
temp= pd.read_csv('/Users/gracecolverd/New_dataset/old/proc_dir/temp_log_zvb7_03h.csv') 

log = pd.read_csv('/Users/gracecolverd/New_dataset/postcode_attrs/temp_files/log_file.csv')

In [15]:
pc='EN7 6LT'
pc='PE32 2LG'

Empty DataFrame
Columns: [postcode, num_invalid_builds, res_total_buildings, res_build_vol_FGA_total, res_base_floor_total, res_build_vol_inc_basement_FGA_total, res_heated_vol_EA_FGA_total, res_heated_vol_FGA_total, res_heated_vol_inc_basement_EA_FGA_total, res_heated_vol_inc_basement_FGA_total, res_listed_bool_total, mixed_total_buildings, mixed_build_vol_FGA_total, mixed_base_floor_total, mixed_build_vol_inc_basement_FGA_total, mixed_heated_vol_EA_FGA_total, mixed_heated_vol_FGA_total, mixed_heated_vol_inc_basement_EA_FGA_total, mixed_heated_vol_inc_basement_FGA_total, mixed_listed_bool_total, comm_total_buildings, comm_build_vol_FGA_total, comm_base_floor_total, comm_build_vol_inc_basement_FGA_total, comm_heated_vol_EA_FGA_total, comm_heated_vol_FGA_total, comm_heated_vol_inc_basement_EA_FGA_total, comm_heated_vol_inc_basement_FGA_total, comm_listed_bool_total, all_types_total_buildings, all_types_build_vol_FGA_total, all_types_base_floor_total, all_types_build_vol_inc_basement_FGA_total, all_types_heated_vol_EA_FGA_total, all_types_heated_vol_FGA_total, all_types_heated_vol_inc_basement_EA_FGA_total, all_types_heated_vol_inc_basement_FGA_total, all_types_listed_bool_total, num_meters, total_gas, avg_gas, median_gas, total_elec, avg_elec, median_elec]
Index: []

[0 rows x 45 columns]

In [57]:
merg = log.merge(temp, on ='postcode', how='inner')

In [59]:
merg[merg['all_types_build_vol_inc_basement_FGA_total_x'] != merg['all_types_build_vol_inc_basement_FGA_total_y']]
# [['postcode', 'res_heated_vol_FGA_total_x' , 'res_heated_vol_FGA_total_y']]

Empty DataFrame
Columns: [postcode, all_types_total_buildings_x, all_types_build_vol_FGA_total_x, all_types_base_floor_total_x, all_types_build_vol_inc_basement_FGA_total_x, all_types_heated_vol_EA_FGA_total_x, all_types_heated_vol_FGA_total_x, all_types_heated_vol_inc_basement_EA_FGA_total_x, all_types_heated_vol_inc_basement_FGA_total_x, all_types_listed_bool_total_x, res_total_buildings_x, res_build_vol_FGA_total_x, res_base_floor_total_x, res_build_vol_inc_basement_FGA_total_x, res_heated_vol_EA_FGA_total_x, res_heated_vol_FGA_total_x, res_heated_vol_inc_basement_EA_FGA_total_x, res_heated_vol_inc_basement_FGA_total_x, res_listed_bool_total_x, mixed_total_buildings_x, mixed_build_vol_FGA_total_x, mixed_base_floor_total_x, mixed_build_vol_inc_basement_FGA_total_x, mixed_heated_vol_EA_FGA_total_x, mixed_heated_vol_FGA_total_x, mixed_heated_vol_inc_basement_EA_FGA_total_x, mixed_heated_vol_inc_basement_FGA_total_x, mixed_listed_bool_total_x, comm_total_buildings_x, comm_build_vol_FGA_total_x, comm_base_floor_total_x, comm_build_vol_inc_basement_FGA_total_x, comm_heated_vol_EA_FGA_total_x, comm_heated_vol_FGA_total_x, comm_heated_vol_inc_basement_EA_FGA_total_x, comm_heated_vol_inc_basement_FGA_total_x, comm_listed_bool_total_x, total_gas_x, avg_gas_x, median_gas_x, num_meters_x, total_elec_x, avg_elec_x, median_elec_x, num_invalid_builds, all_types_total_buildings_y, all_types_build_vol_FGA_total_y, all_types_base_floor_total_y, all_types_build_vol_inc_basement_FGA_total_y, all_types_heated_vol_EA_FGA_total_y, all_types_heated_vol_FGA_total_y, all_types_heated_vol_inc_basement_EA_FGA_total_y, all_types_heated_vol_inc_basement_FGA_total_y, all_types_listed_bool_total_y, res_total_buildings_y, res_build_vol_FGA_total_y, res_base_floor_total_y, res_build_vol_inc_basement_FGA_total_y, res_heated_vol_EA_FGA_total_y, res_heated_vol_FGA_total_y, res_heated_vol_inc_basement_EA_FGA_total_y, res_heated_vol_inc_basement_FGA_total_y, res_listed_bool_total_y, mixed_total_buildings_y, mixed_build_vol_FGA_total_y, mixed_base_floor_total_y, mixed_build_vol_inc_basement_FGA_total_y, mixed_heated_vol_EA_FGA_total_y, mixed_heated_vol_FGA_total_y, mixed_heated_vol_inc_basement_EA_FGA_total_y, mixed_heated_vol_inc_basement_FGA_total_y, mixed_listed_bool_total_y, comm_total_buildings_y, comm_build_vol_FGA_total_y, comm_base_floor_total_y, comm_build_vol_inc_basement_FGA_total_y, comm_heated_vol_EA_FGA_total_y, comm_heated_vol_FGA_total_y, comm_heated_vol_inc_basement_EA_FGA_total_y, comm_heated_vol_inc_basement_FGA_total_y, comm_listed_bool_total_y, num_meters_y, total_gas_y, avg_gas_y, median_gas_y, total_elec_y, avg_elec_y, median_elec_y]
Index: []

[0 rows x 88 columns]

In [20]:
pc='EN8 8AZ'

temp[temp['postcode']==pc]

,postcode,num_invalid_builds,res_total_buildings,res_build_vol_FGA_total,res_base_floor_total,res_build_vol_inc_basement_FGA_total,res_heated_vol_EA_FGA_total,res_heated_vol_FGA_total,res_heated_vol_inc_basement_EA_FGA_total,res_heated_vol_inc_basement_FGA_total,...,all_types_heated_vol_inc_basement_EA_FGA_total,all_types_heated_vol_inc_basement_FGA_total,all_types_listed_bool_total,num_meters,total_gas,avg_gas,median_gas,total_elec,avg_elec,median_elec
53,EN8 8AZ,0.0,10.0,5526.530131,0.0,5526.530131,3308.045207,3308.045207,3308.045207,3308.045207,...,NaN,NaN,NaN,22.0,160967.203484,17885.244832,14377.959535,127730.0,5805.909091,3140.3

In [21]:
pc_result = process_postcode_fuel(pc, onsud_data, gas_df, elec_df, INPUT_GPK)

EN8 8AZ
len df  10

In [22]:
pc_result['res_heated_vol_FGA_total']

2864.1900772094727

In [26]:
len(generate_null_attributes_full(pc))

29

In [27]:
generate_null_attributes_full(pc)

{'postcode': 'EN8 8AZ',
 'num_invalid_builds': nan,
 'res_total_buildings': nan,
 'res_build_vol_FGA_total': nan,
 'res_base_floor_total': nan,
 'res_build_vol_inc_basement_FGA_total': nan,
 'res_heated_vol_EA_FGA_total': nan,
 'res_heated_vol_FGA_total': nan,
 'res_heated_vol_inc_basement_EA_FGA_total': nan,
 'res_heated_vol_inc_basement_FGA_total': nan,
 'res_listed_bool_total': nan,
 'mixed_total_buildings': nan,
 'mixed_build_vol_FGA_total': nan,
 'mixed_base_floor_total': nan,
 'mixed_build_vol_inc_basement_FGA_total': nan,
 'mixed_heated_vol_EA_FGA_total': nan,
 'mixed_heated_vol_FGA_total': nan,
 'mixed_heated_vol_inc_basement_EA_FGA_total': nan,
 'mixed_heated_vol_inc_basement_FGA_total': nan,
 'mixed_listed_bool_total': nan,
 'comm_total_buildings': nan,
 'comm_build_vol_FGA_total': nan,
 'comm_base_floor_total': nan,
 'comm_build_vol_inc_basement_FGA_total': nan,
 'comm_heated_vol_EA_FGA_total': nan,
 'comm_heated_vol_FGA_total': nan,
 'comm_heated_vol_inc_basement_EA_FGA_total': nan,
 'comm_heated_vol_inc_basement_FGA_total': nan,
 'comm_listed_bool_total': nan}

In [36]:


def generate_null_attributes_full(pc):
    """
    Generate a dictionary with all column names prefixed as specified, 
    with np.nan values, for the case where there's no data.
    
    Parameters:
    - prefix: The prefix to be applied to each column name ('all_types_', 'res_', 'mixed_', or 'comm_').
    - cols: The list of column names that are expected in the non-null case.

    Returns:
    - A dictionary with keys as the prefixed column names and np.nan as all values.
    """
    cols = ['build_vol_FGA', 'base_floor', 'build_vol_inc_basement_FGA', 'heated_vol_EA_FGA', 
        'heated_vol_FGA', 'heated_vol_inc_basement_EA_FGA', 'heated_vol_inc_basement_FGA', 'listed_bool']
    
    prefix = ['all_types_', 'res_', 'mixed_', 'comm_']
    null_attributes={'postcode':pc, 'num_invalid_builds': np.nan }

    for p in prefix:
        # Initialize the dictionary with the total_buildings count set to np.nan
        null_attributes[f'{p}total_buildings']=  np.nan 
        # Add entries for each column in cols, prefixed and set to np.nan
        for col in cols:
            null_attributes[f'{p}{col}_total'] = np.nan
        
    return null_attributes

In [37]:
len(generate_null_attributes_full(pc) )

38

In [41]:
tes_res = generate_null_attributes_full(pc)

In [32]:
uprn_match = find_data_pc(pc, onsud_data, input_gpk=INPUT_GPK)

df , num_invalid = pre_process_building_data(uprn_match)

len df  10

In [35]:
res = calculate_postcode_attr_with_null_case(df)

len(res)

36

In [38]:
res

{'all_types_total_buildings': 10,
 'all_types_build_vol_FGA_total': 5526.530130500792,
 'all_types_base_floor_total': 0,
 'all_types_build_vol_inc_basement_FGA_total': 5526.530130500792,
 'all_types_heated_vol_EA_FGA_total': 3308.045207267276,
 'all_types_heated_vol_FGA_total': 3308.045207267276,
 'all_types_heated_vol_inc_basement_EA_FGA_total': 3308.045207267276,
 'all_types_heated_vol_inc_basement_FGA_total': 3308.045207267276,
 'all_types_listed_bool_total': 0,
 'res_total_buildings': 9,
 'res_build_vol_FGA_total': 4939.580104465484,
 'res_base_floor_total': 0,
 'res_build_vol_inc_basement_FGA_total': 4939.580104465484,
 'res_heated_vol_EA_FGA_total': 2864.1900772094727,
 'res_heated_vol_FGA_total': 2864.1900772094727,
 'res_heated_vol_inc_basement_EA_FGA_total': 2864.1900772094727,
 'res_heated_vol_inc_basement_FGA_total': 2864.1900772094727,
 'res_listed_bool_total': 0,
 'mixed_total_buildings': nan,
 'mixed_build_vol_FGA_total': nan,
 'mixed_base_floor_total': nan,
 'mixed_build_vol_inc_basement_FGA_total': nan,
 'mixed_heated_vol_EA_FGA_total': nan,
 'mixed_heated_vol_FGA_total': nan,
 'mixed_heated_vol_inc_basement_EA_FGA_total': nan,
 'mixed_heated_vol_inc_basement_FGA_total': nan,
 'mixed_listed_bool_total': nan,
 'comm_total_buildings': nan,
 'comm_build_vol_FGA_total': nan,
 'comm_base_floor_total': nan,
 'comm_build_vol_inc_basement_FGA_total': nan,
 'comm_heated_vol_EA_FGA_total': nan,
 'comm_heated_vol_FGA_total': nan,
 'comm_heated_vol_inc_basement_EA_FGA_total': nan,
 'comm_heated_vol_inc_basement_FGA_total': nan,
 'comm_listed_bool_total': nan}

In [46]:
[k for k, v in tes_res.items() if k not in res.keys()  ]

['postcode', 'num_invalid_builds']

In [48]:
pc='EN7 5TA'

# pc_result = process_postcode_f
# uel(pc, onsud_data, gas_df, elec_df, INPUT_GPK)

uprn_match = find_data_pc(pc, onsud_data, input_gpk=INPUT_GPK)

In [51]:
uprn_match
from src.pre_process_buildings import pre_process_buildings 
processed_df = pre_process_buildings(uprn_match)
# df , num_invalid = pre_process_building_data(uprn_match)

In [52]:
processed_df[['floor_count_numeric_FGA']]

,premise_age,premise_year,premise_use,premise_type,premise_floor_count,height,premise_area,building_area,address_area,gross_area,...,upn,geometry,height_numeric,floor_count_numeric,height_bucket,floor_count_numeric_FGA,floor_count_element_av,floor_count_element_av_FGA,height_numeric_FGA,listed_bool
0,1870-1918,NaN,Agricultural,None,None,111.400002,167.399994,167.399994,NaN,NaN,...,440369,"MULTIPOLYGON (((531484.380 204884.880, 531465....",111.400002,NaN,100-200m,NaN,NaN,NaN,111.400002,0
1,1945-1959,NaN,Residential,Large detached,2,4.000000,183.699997,183.699997,367.399994,367.399994,...,38,"MULTIPOLYGON (((531539.520 205062.470, 531538....",4.000000,2.0,4-5m,2.000000,2.0,2.000000,4.000000,0
2,Unknown date,NaN,Agricultural,None,None,16.100000,56.799999,56.799999,NaN,NaN,...,3194489,"MULTIPOLYGON (((531650.400 205173.940, 531654....",16.100000,NaN,14-18m,2.721991,NaN,2.721991,16.100000,0
3,1945-1959,NaN,Residential,Standard size detached,2,8.700000,144.899994,144.899994,289.799988,289.799988,...,30216434,"MULTIPOLYGON (((531683.180 205203.730, 531677....",8.700000,2.0,8-9m,2.000000,2.0,2.000000,8.700000,0