In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('/Volumes/T9/Data_downloads/new-data-outputs/ml_input/V3_ml_input_data.csv')

/var/folders/n5/_2d3c5sd5j3810327mknn0sh0000gn/T/ipykernel_23752/49055372.py:1: DtypeWarning: Columns (141) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Volumes/T9/Data_downloads/new-data-outputs/ml_input/V3_ml_input_data.csv')

In [5]:
df

,Unnamed: 0,postcode,all_types_total_buildings,all_types_uprn_count_total,comm_alltypes_count,unknown_alltypes,all_res_total_buildings,all_res_premise_area_total,all_res_gross_area_total,all_res_heated_vol_fc_total,...,region_EE,region_EM,region_LN,region_NE,region_NW,region_SC,region_SW,region_WA,region_WM,region_YH
0,0,PL6 7LP,46.0,27.0,0.0,0.0,46.0,2730.499987,5577.799982,5577.799971,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,PL4 9PS,22.0,23.0,0.0,0.0,22.0,1391.699991,2777.499994,2777.499979,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,PL1 3DT,2.0,18.0,0.0,0.0,2.0,788.899979,3155.599915,3155.599915,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,PL4 8PB,2.0,12.0,0.0,0.0,2.0,331.000000,772.299988,772.300003,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,PL4 8PE,19.0,23.0,0.0,0.0,19.0,739.699988,2223.800025,2223.799963,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515304,515304,W8 7NU,11.0,10.0,0.0,0.0,11.0,534.799999,1069.599998,1069.599998,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515305,515305,W8 5AJ,7.0,13.0,0.0,0.0,7.0,385.499992,1414.999962,1414.999969,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515306,515306,W8 7AY,7.0,44.0,0.0,0.0,7.0,588.099995,2870.999969,3528.599968,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515307,515307,W8 7BA,5.0,5.0,0.0,0.0,5.0,268.099995,804.300018,804.299984,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515308,515308,W8 5PR,21.0,30.0,0.0,0.0,21.0,3105.400017,10635.600067,12607.820066,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.columns.tolist()

['Unnamed: 0',
 'postcode',
 'all_types_total_buildings',
 'all_types_uprn_count_total',
 'comm_alltypes_count',
 'unknown_alltypes',
 'all_res_total_buildings',
 'all_res_premise_area_total',
 'all_res_gross_area_total',
 'all_res_heated_vol_fc_total',
 'all_res_heated_vol_h_total',
 'all_res_base_floor_total',
 'all_res_basement_heated_vol_max_total',
 'all_res_listed_bool_total',
 'all_res_uprn_count_total',
 'clean_res_total_buildings',
 'clean_res_premise_area_total',
 'clean_res_gross_area_total',
 'clean_res_heated_vol_fc_total',
 'clean_res_heated_vol_h_total',
 'clean_res_base_floor_total',
 'clean_res_basement_heated_vol_max_total',
 'clean_res_listed_bool_total',
 'clean_res_uprn_count_total',
 'outb_res_total_buildings',
 'outb_res_premise_area_total',
 'outb_res_gross_area_total',
 'outb_res_heated_vol_fc_total',
 'outb_res_heated_vol_h_total',
 'outb_res_base_floor_total',
 'outb_res_basement_heated_vol_max_total',
 'outb_res_listed_bool_total',
 'outb_res_uprn_count_total',
 'mixed_total_buildings',
 'mixed_premise_area_total',
 'mixed_gross_area_total',
 'mixed_heated_vol_fc_total',
 'mixed_heated_vol_h_total',
 'mixed_base_floor_total',
 'mixed_basement_heated_vol_max_total',
 'mixed_listed_bool_total',
 'mixed_uprn_count_total',
 'total_gas',
 'avg_gas',
 'median_gas',
 'num_meters_gas',
 'total_elec',
 'avg_elec',
 'median_elec',
 'num_meters_elec',
 'region',
 'outcode',
 'tot',
 'percent_residential',
 'max_heated_vol',
 'min_heated_vol',
 'range_heated_vol',
 'min_gas_per_vol',
 'max_gas_per_vol',
 'perc_all_res',
 'perc_clean_res',
 'perc_all_res_basement',
 'perc_all_res_listed',
 'max_vol_per_uprn',
 'min_vol_per_uprn',
 'diff_gas_meters_uprns_res',
 'unkn_res',
 'perc_unk_res',
 'Medium height flats 5-6 storeys',
 'Small low terraces',
 '3-4 storey and smaller flats',
 'Tall terraces 3-4 storeys',
 'Large semi detached',
 'Standard size detached',
 'Standard size semi detached',
 '2 storeys terraces with t rear extension',
 'Semi type house in multiples',
 'Tall flats 6-15 storeys',
 'Large detached',
 'Very tall point block flats',
 'Very large detached',
 'Planned balanced mixed estates',
 'Linked and step linked premises',
 'Domestic outbuilding',
 'Unknown',
 'len_res',
 'None_type',
 'sum_buildings',
 '2 storeys terraces with t rear extension_pct',
 '3-4 storey and smaller flats_pct',
 'Domestic outbuilding_pct',
 'Large detached_pct',
 'Large semi detached_pct',
 'Linked and step linked premises_pct',
 'Medium height flats 5-6 storeys_pct',
 'None_type_pct',
 'Planned balanced mixed estates_pct',
 'Semi type house in multiples_pct',
 'Small low terraces_pct',
 'Standard size detached_pct',
 'Standard size semi detached_pct',
 'Tall flats 6-15 storeys_pct',
 'Tall terraces 3-4 storeys_pct',
 'Unknown_pct',
 'Very large detached_pct',
 'Very tall point block flats_pct',
 'count_unknown_age',
 'localfill_median_age',
 'localfill_modal_age',
 'localfill_min_age',
 'localfill_max_age',
 'localfill_range_age',
 'localfill_distinct_ages',
 'localfill_iqr_age',
 'globalfill_median_age',
 'globalfill_modal_age',
 'globalfill_min_age',
 'globalfill_max_age',
 'globalfill_range_age',
 'globalfill_distinct_ages',
 'globalfill_iqr_age',
 'HDD',
 'CDD',
 'HDD_summer',
 'CDD_summer',
 'HDD_winter',
 'CDD_winter',
 'POSTCODE',
 'pcd7',
 'pcd8',
 'pcds',
 'dointr',
 'doterm',
 'usertype',
 'oa11cd',
 'lsoa11cd',
 'msoa11cd',
 'ladcd',
 'lsoa11nm',
 'msoa11nm',
 'ladnm',
 'ladnmw',
 'av_gas_per_vol_v1',
 'av_gas_per_vol_v2',
 'region_EE',
 'region_EM',
 'region_LN',
 'region_NE',
 'region_NW',
 'region_SC',
 'region_SW',
 'region_WA',
 'region_WM',
 'region_YH']

In [6]:
fp = pd.read_csv('/Volumes/T9/Data_downloads/fuel_poverty/fuelpoverty.csv')

In [21]:
lk= pd.read_csv('/Volumes/T9/Data_downloads/lookups/pcs_to_oa_mapping_census2021/PCD_OA21_LSOA21_MSOA21_LAD_AUG23_UK_LU.csv', encoding='latin1')

/var/folders/n5/_2d3c5sd5j3810327mknn0sh0000gn/T/ipykernel_23752/2738763796.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  lk= pd.read_csv('/Volumes/T9/Data_downloads/lookups/pcs_to_oa_mapping_census2021/PCD_OA21_LSOA21_MSOA21_LAD_AUG23_UK_LU.csv', encoding='latin1')

In [22]:
lk.head()

,pcd7,pcd8,pcds,dointr,doterm,usertype,oa21cd,lsoa21cd,msoa21cd,ladcd,lsoa21nm,msoa21nm,ladnm,ladnmw
0,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606.0,0,S00090303,S01006514,S02001237,S12000033,NaN,NaN,Aberdeen City,NaN
1,AB1 0AB,AB1 0AB,AB1 0AB,198001,199606.0,0,S00090303,S01006514,S02001237,S12000033,NaN,NaN,Aberdeen City,NaN
2,AB1 0AD,AB1 0AD,AB1 0AD,198001,199606.0,0,S00090399,S01006514,S02001237,S12000033,NaN,NaN,Aberdeen City,NaN
3,AB1 0AE,AB1 0AE,AB1 0AE,199402,199606.0,0,S00091322,S01006853,S02001296,S12000034,NaN,NaN,Aberdeenshire,NaN
4,AB1 0AF,AB1 0AF,AB1 0AF,199012,199207.0,1,S00090299,S01006511,S02001236,S12000033,NaN,NaN,Aberdeen City,NaN

In [18]:
import sys 
sys.path.append('/Users/gracecolverd/New_dataset')
from src.utils import join_pc_map_three_pc

In [24]:
data = join_pc_map_three_pc(df, 'postcode', lk)

In [31]:
data.head()

,Unnamed: 0,postcode,all_types_total_buildings,all_types_uprn_count_total,comm_alltypes_count,unknown_alltypes,all_res_total_buildings,all_res_premise_area_total,all_res_gross_area_total,all_res_heated_vol_fc_total,...,LatestData,ReportingPeriodType,GeoEntityName,GeoCode,GeoName,GeoURI,Year,EstimatedNumberOfHouseholds,EstimatedNumberOfFuelPoorHouseholds,PercentageOfHouseholdsFuelPoor
0,24855,LN4 3YF,7.0,12.0,0.0,0.0,7.0,917.500008,1835.000015,1835.000015,...,True,Calendar Year,Lower Super Output Area (LSOA),E01026179,North Kesteven 008A,http://statistics.data.gov.uk/doc/statistical-...,2021,422,59,14.0
1,24856,LN4 3YD,8.0,19.0,0.0,0.0,8.0,1374.500000,2749.000000,2749.000000,...,True,Calendar Year,Lower Super Output Area (LSOA),E01026179,North Kesteven 008A,http://statistics.data.gov.uk/doc/statistical-...,2021,422,59,14.0
2,24857,LN4 3LN,3.0,17.0,0.0,0.0,3.0,854.099991,1708.199982,1708.199982,...,True,Calendar Year,Lower Super Output Area (LSOA),E01026179,North Kesteven 008A,http://statistics.data.gov.uk/doc/statistical-...,2021,422,59,14.0
3,24858,LN4 3LL,6.0,13.0,0.0,0.0,6.0,706.800007,1499.899990,1499.900021,...,True,Calendar Year,Lower Super Output Area (LSOA),E01026179,North Kesteven 008A,http://statistics.data.gov.uk/doc/statistical-...,2021,422,59,14.0
4,25084,LN4 3YB,12.0,24.0,0.0,0.0,12.0,1836.600021,3673.200043,3673.200043,...,True,Calendar Year,Lower Super Output Area (LSOA),E01026179,North Kesteven 008A,http://statistics.data.gov.uk/doc/statistical-...,2021,422,59,14.0

In [27]:
data = data.merge(fp , left_on = 'lsoa21cd', right_on = 'GeoCode')

In [32]:
data.columns.tolist()

['Unnamed: 0',
 'postcode',
 'all_types_total_buildings',
 'all_types_uprn_count_total',
 'comm_alltypes_count',
 'unknown_alltypes',
 'all_res_total_buildings',
 'all_res_premise_area_total',
 'all_res_gross_area_total',
 'all_res_heated_vol_fc_total',
 'all_res_heated_vol_h_total',
 'all_res_base_floor_total',
 'all_res_basement_heated_vol_max_total',
 'all_res_listed_bool_total',
 'all_res_uprn_count_total',
 'clean_res_total_buildings',
 'clean_res_premise_area_total',
 'clean_res_gross_area_total',
 'clean_res_heated_vol_fc_total',
 'clean_res_heated_vol_h_total',
 'clean_res_base_floor_total',
 'clean_res_basement_heated_vol_max_total',
 'clean_res_listed_bool_total',
 'clean_res_uprn_count_total',
 'outb_res_total_buildings',
 'outb_res_premise_area_total',
 'outb_res_gross_area_total',
 'outb_res_heated_vol_fc_total',
 'outb_res_heated_vol_h_total',
 'outb_res_base_floor_total',
 'outb_res_basement_heated_vol_max_total',
 'outb_res_listed_bool_total',
 'outb_res_uprn_count_total',
 'mixed_total_buildings',
 'mixed_premise_area_total',
 'mixed_gross_area_total',
 'mixed_heated_vol_fc_total',
 'mixed_heated_vol_h_total',
 'mixed_base_floor_total',
 'mixed_basement_heated_vol_max_total',
 'mixed_listed_bool_total',
 'mixed_uprn_count_total',
 'total_gas',
 'avg_gas',
 'median_gas',
 'num_meters_gas',
 'total_elec',
 'avg_elec',
 'median_elec',
 'num_meters_elec',
 'region',
 'outcode',
 'tot',
 'percent_residential',
 'max_heated_vol',
 'min_heated_vol',
 'range_heated_vol',
 'min_gas_per_vol',
 'max_gas_per_vol',
 'perc_all_res',
 'perc_clean_res',
 'perc_all_res_basement',
 'perc_all_res_listed',
 'max_vol_per_uprn',
 'min_vol_per_uprn',
 'diff_gas_meters_uprns_res',
 'unkn_res',
 'perc_unk_res',
 'Medium height flats 5-6 storeys',
 'Small low terraces',
 '3-4 storey and smaller flats',
 'Tall terraces 3-4 storeys',
 'Large semi detached',
 'Standard size detached',
 'Standard size semi detached',
 '2 storeys terraces with t rear extension',
 'Semi type house in multiples',
 'Tall flats 6-15 storeys',
 'Large detached',
 'Very tall point block flats',
 'Very large detached',
 'Planned balanced mixed estates',
 'Linked and step linked premises',
 'Domestic outbuilding',
 'Unknown',
 'len_res',
 'None_type',
 'sum_buildings',
 '2 storeys terraces with t rear extension_pct',
 '3-4 storey and smaller flats_pct',
 'Domestic outbuilding_pct',
 'Large detached_pct',
 'Large semi detached_pct',
 'Linked and step linked premises_pct',
 'Medium height flats 5-6 storeys_pct',
 'None_type_pct',
 'Planned balanced mixed estates_pct',
 'Semi type house in multiples_pct',
 'Small low terraces_pct',
 'Standard size detached_pct',
 'Standard size semi detached_pct',
 'Tall flats 6-15 storeys_pct',
 'Tall terraces 3-4 storeys_pct',
 'Unknown_pct',
 'Very large detached_pct',
 'Very tall point block flats_pct',
 'count_unknown_age',
 'localfill_median_age',
 'localfill_modal_age',
 'localfill_min_age',
 'localfill_max_age',
 'localfill_range_age',
 'localfill_distinct_ages',
 'localfill_iqr_age',
 'globalfill_median_age',
 'globalfill_modal_age',
 'globalfill_min_age',
 'globalfill_max_age',
 'globalfill_range_age',
 'globalfill_distinct_ages',
 'globalfill_iqr_age',
 'HDD',
 'CDD',
 'HDD_summer',
 'CDD_summer',
 'HDD_winter',
 'CDD_winter',
 'POSTCODE',
 'pcd7_x',
 'pcd8_x',
 'pcds_x',
 'dointr_x',
 'doterm_x',
 'usertype_x',
 'oa11cd',
 'lsoa11cd',
 'msoa11cd',
 'ladcd_x',
 'lsoa11nm',
 'msoa11nm',
 'ladnm_x',
 'ladnmw_x',
 'av_gas_per_vol_v1',
 'av_gas_per_vol_v2',
 'region_EE',
 'region_EM',
 'region_LN',
 'region_NE',
 'region_NW',
 'region_SC',
 'region_SW',
 'region_WA',
 'region_WM',
 'region_YH',
 'pcd7_y',
 'pcd8_y',
 'pcds_y',
 'dointr_y',
 'doterm_y',
 'usertype_y',
 'oa21cd',
 'lsoa21cd',
 'msoa21cd',
 'ladcd_y',
 'lsoa21nm',
 'msoa21nm',
 'ladnm_y',
 'ladnmw_y',
 'OrganisationLabel',
 'OrganisationURI',
 'PublishedDate',
 'DurationFrom',
 'DurationTo',
 'LatestData',
 'ReportingPeriodType',
 'GeoEntityName',
 'GeoCode',
 'GeoName',
 'GeoURI',
 'Year',
 'EstimatedNumberOfHouseholds',
 'EstimatedNumberOfFuelPoorHouseholds',
 'PercentageOfHouseholdsFuelPoor']

In [34]:
data.to_csv('Lincolnshire_fuel_porveryt_data.csv')